---
import Popup from '../components/Popup.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/assets/images/icon128.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TabiNeko</title>
  </head>
  <body>
    <Popup />
    <script type="module" src="/popup.js"></script>
  </body>
</html>
